.content{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.contentContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 85%;
  border-radius: 20px;
  background-color: var(--background);
}



.formContainer{
  position: relative;
  width: 60%;
  height: 100%;
  background-color: var(--opac2);
  padding: 1rem 2rem;
  border-radius: 10px 0 0 10px;
}
.formContainer::after{
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(1.03);
  z-index: -1;
  position: absolute;
  top: -3%;
  left: -3%;
  background-color: var(--opac1);
  border-radius: 10px;
}
.titleContainer h3{
  font-family: 'Galada';
  text-shadow: -0.5px -0.5px 0 var(--opac2), 0.5px -0.5px 0 var(--primary), -0.5px 3px 0 var(--primary), 0.5px 0.5px 0 var(--primary);
}
.titleContainer h3 span{
  color: var(--primary);
  text-shadow: -0.5px -0.5px 0 var(--opac2), 0.5px -0.5px 0 var(--text), -0.5px 3px 0 var(--text), 0.5px 0.5px 0 var(--text);
  margin-left: 7px;

}


.imgContainer{
  width: 40%;
  height: 100%;

}

.imgContainer img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}