:root {
  --text: #13120e;
  --background: #fcfbf9;
  --primary: #ffd979;
  --secondary: #ffe6a8;
  --accent: #fbc742;

  --linearPrimarySecondary: linear-gradient(#ffd97a, #ffe6a8);
  --linearPrimaryAccent: linear-gradient(#ffd97a, #fbc641);
  --linearSecondaryAccent: linear-gradient(#ffe6a8, #fbc641);
  --radialPrimarySecondary: radial-gradient(#ffd97a, #ffe6a8);
  --radialPrimaryAccent: radial-gradient(#ffd97a, #fbc641);
  --radialSecondaryAccent: radial-gradient(#ffe6a8, #fbc641);

  --opac1: #ffd97a15;
  --opac2: #ffd97a44;

  




}



*{
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}
img{
  display: block;
}



body {
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
}

h1{
  font-size: 3.125rem;
}
h2{
  font-size: 2.25rem;
}
h3{
  font-size: 1.75rem;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-size: 1.375rem;
}
h6{
  font-size: 1.25rem;
}

small{
  font-size: 0.8rem;
}







@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Galada';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/galada-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}