:root {
  --text: #100f0c;
  --background: #f9f8f3;
  --primary: #c5ae51;
  --secondary: #f1e1a2;
  --accent: #f2d251;
}

*{
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
  box-sizing: border-box;
}
img{
  display: block;
}



body {
  
}